@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --light-black: #1c2a39;
  --dark-grey: #5c6a79;
  --purple-color: #534fd2;
  --white-color: #ffffff;
  --lavender-color: #9e98dc;
  --light-color: #ffe0e2;
  --pink-color: #ff8fe6;
  --scarlett-color: #7b1010;
  --light-pink: #efeef6;
  --purple-dark: #4c3db2;
  --light-grey: #eeedf5;
  --orange-color: #ff353a;
}

* {
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
  background: none;
  font-family: "Montserrat", sans-serif;
  border: none;
}

.main {
  width: 100;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  text-align: left;
}

.buttons {
  color: var(--purple-dark);
  width: 100%;
  padding: 18px 0 18px 0;
  font-size: 8px;
  font-weight: bold;
  text-transform: uppercase;
  border: 1px solid var(--purple-dark);
  cursor: pointer;
  transition: all 0.5s linear;
}

.buttons:hover,
.buttons.clicked {
  color: var(--dark-grey);
  border: 1px solid var(--light-grey);
}
.button {
  width: 40px !important;
  height: 40px !important;
  filter: none !important;
}
